<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWE304-Project 1</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="row justify-content-center">
    <div class="card w-50">
        <div class="card-header">
            <h5 class="text-center">SWE304-Project 1</h5>
        </div>

        <div class="card-body">
            <h5><i class="fa-solid fa-person-chalkboard"></i> Presented by:</h5>
            <div class="ml-4">
                <h5><i class="fa-solid fa-graduation-cap"></i> Ahmet Alkan </h5>
                <h5> <i class="fa-solid fa-graduation-cap"></i> Abdulhady Sabbagh</h5>
            </div>
        </div>
        <a href="/person" class="btn btn-primary">Person Table</a>
    </div>
</div>



</body>
</html>